@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }

}
html{
  font-size: 10px;
}

body{
  background-color: white;
  display: grid;
  grid-template-areas:
  "topnav"
  "videoWrapper"
  "quickfacts_container"
  "project";
  display: block;
}

@media (max-width: 767px) {
	body {font-size: 16px;
    }
}

.container{
  background-color: white;
  height:auto;
  width: 100%;
}

/* new nav bar*/
.navigation {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5AB9EA;
    box-shadow: 0 4px 4px -3px #232323;
    -moz-box-shadow: 0 4px 4px -3px #232323;
    -webkit-box-shadow: 0 4px 4px -3px #232323;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin-top:30px;
    text-align:center;
    list-style:none;
    margin-left:auto;
    margin-right:auto;
}
.menulist {
    width:200px;
}
.logo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:yellow;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:yellow;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:yellow;
  top:-7px;
}

.menuitems {
    padding-top:12px;
    padding-bottom:12px;
    text-decoration: none;
    list-style:none;
    font-family:'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: 24px;
    display: inline-block;
    position:relative;
    text-align:center;
    color: #fff;
    opacity:0.0;
    transition: all .5s ease-in-out;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}

#closebtn {
    height:25px;
    width:25px;
    float: right;
    padding: 20px;
    text-decoration:none;
    top: 10px;
    left: 25px;
    font-size: 36px !important;
    margin-right: 50px;
    z-index:100;
    color:#fff;
    cursor:pointer;
    trainsition:background-position .3s;
}

#main {
    transition: margin-top .4s;
    text-align:center;
    margin:auto;
    padding: 16px;
    font-size:30px;
}

/* Hero Video */
.videoWrapper {
    background-color: white;
    grid-area: videoWrapper;
    display: block;
    padding: 1rem 0;
     position: relative;
     padding-bottom: 45%; /* 16:9 Aspect Ratio */
     height: 0;
     ​width: 100%; /* You can set this width to whatever suits your needs */
     margin: 0 auto;
}
.videoWrapper video {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}
.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Hero Video Text Overlay */
h1 {
  color: Black;
  font-family: 'League Spartan', sans-serif;
  font-size: 3.4em;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding-left: 15%;
}

@media (max-width: 767px) {
	h1 { font-size: 1em; }
}

p {
  color: Black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.7rem;
  padding-left: 5%;
  padding-right: 15%;
  width: 100%;
}

@media (max-width: 767px) {
	p { font-size: .5em;
      line-height: .5rem}
}

.shell {
  background-color: white;
  float: left;
  height: 10rem;
  width: 56%;

}
/* logo component */
.logo_mr{
  height:25px;
  width:25px;
  float: left;
  padding: 20px;
  top: 10px;
  left: 25px;
  margin-left: 50px;
  z-index:100;
}

@media (max-width: 767px) {
	 { display: block;
   margin: auto}
}


/* quick facts */
.quickfacts_container{

  background-color: #5AB9EA;
  grid-area: quickfacts_container;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
}

/* project section */
.project{
  grid-area: project;
}
