*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }

.videoWrapper {
     position: relative;
     padding-bottom: 45%; /* 16:9 Aspect Ratio */
     height: 0;
     ​width: 100%; /* You can set this width to whatever suits your needs */
     margin: 0 auto;
}
.videoWrapper video {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}
.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  color: Black;
  font-family: 'League Spartan', sans-serif;
  font-size: 3.4em;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding-left: 15%;
}
p {
  color: Black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.7rem;
  padding-left: 5%;
  padding-right: 15%;
  width: 100%;
}
.shell {
  background-color: white;
  float: left;
  display: block;
  height: 100px;
  padding-left: 10%;

}
/* Add a black background color to the top navigation */
.topnav {
  background-color: White;
  overflow: hidden;
  height: 100px;
  width: 90%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: Right;
  display: block;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  line-height:75px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
