@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }

}
html{
  font-size: 10px;
}

body{
  background-color: white;
  display: grid;
  grid-template-areas:
  "topnav"
  "videoWrapper"
  "quickfacts_container"
  "projects";
  display: block;
}

.index_container{
  background-color: white;
  height: auto;
  width: 100%;
}

.title h2{
  display: inline-block;
  text-align: center;
  width: 100%;

}
a {
  color: #5AB9EA;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.4em;
  font-weight: bolder;
}

/* header */

.header {
  font-weight: bolder;
  background-color: white;
  box-shadow: 3px 3px 12px 0 rgba(0,0,0,.3);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: scroll;
  background-color: white;
}

.header li a {
  font-weight: bolder;
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;

}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .4s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 300px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 40px 40px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* logo component */

.logo_mr{
  float: left;
  height: auto;
  margin-left: 25px;
  margin-top: 15px;

}

@media screen and (max-width: 767px) {
  div.logo_mr
	 { max-width: 50%;}
   img.logoimage{
     max-width: 75%;
   }
}

/* Hero Video */
.video{
  padding-top: 30px;
}

.videoWrapper {
    background-color: white;
    grid-area: videoWrapper;
    display: grid;
    padding-top: 20px;
    padding: 4em 0;
    position: relative;
    padding-bottom: 45%; /* 16:9 Aspect Ratio */
    padding-top: 3em;
    height: 0;
    max-​width: 90%; /* You can set this width to whatever suits your needs */
    margin: 0 auto;

}
.videoWrapper video {
  display: block;
    background-color: white;
     position: absolute;
     padding-bottom: 1em;
     top: 10em;
     left: 0;
     width: 100%;
     height: 85%;
     object-fit: contain;
}

@media screen and (max-width: 300px) {
  .videoWrapper video {top: 5em}
}

.overlay-desc {
  background-color: white;
  margin: 0;
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0;right: 0; bottom: 0; left: 0;
  display: flex;
  padding-top: 5%;
  align-items: center;
  justify-content: center;
}

/* Hero Video Text Overlay */
.overlay-desc h1 {
  color: White;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-family: 'League Spartan', sans-serif;
  font-size: 3.4em;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  width: 100%;
  padding-left: 20%;
}

.overlay-desc h2 {
  text-align: left;
  color: White;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.5em;
  padding-left: 5%;
  padding-right: 20%;
  width: 100%;
}



/* project section */
.projects_container{
  background-color: #5AB9EA;
  width: 100%;
  padding-top: 4em;
  display: inline;
  float: left;
  width: 100%;
  box-shadow: 0 4px 4px -3px #232323;
  -moz-box-shadow: 0 4px 4px -3px #232323;
  -webkit-box-shadow: 0 4px 4px -3px #232323;
}
.project1 {
  background-color: #5AB9EA;
  display: inline;
  float: left;
  width: 100%;
  box-shadow: 0 4px 4px -3px #232323;
  -moz-box-shadow: 0 4px 4px -3px #232323;
  -webkit-box-shadow: 0 4px 4px -3px #232323;
}

.project1_info{
  padding-top: 1em;
  display: inline;
  float: left;
  text-align: center;
  width: 49%;
}
.project1_info img{
  height: auto;
}

.project1_info h2 {
  color: White;
  font-style: "Titillium Web", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2.7em;
  width: 100%;
}

.project1_info h4 {
  color: White;
  display: flex;
  flex-direction: column;
  font-style: "Titillium Web", Helvetica, Arial, sans-serif;
  text-align: center;
  padding-bottom: .5em;
  font-size: 1.8em;
}
.project1_info p {
  color: white;
  text-align: center;
  font-style: "Titillium Web", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  font-weight: normal;
  width: 70%;
  margin: 0 auto;
}

.section__btn {
  color: white;
  border: none;
  display: inline-block;
  background-color: #FA6666;
  padding: 15px 30px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  text-decoration: none;
  width: auto;
}

.section__btn:hover{
  color: #f4f4f4;
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.section_action {
  padding-bottom: 2em;
  padding-top: 2em;
}

.project1_img_container{
  display: inline;
  float: left;
  letter-spacing: 2em;
  width: 49%;
  height: auto;
  padding: auto;
}

media (max-width: 767px){
  .project1_info {
    display: block;
    padding: 0 50px 0;
    text-align: center;
  }
}

.project2 {
  background-color: #FBA905;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.project2_info {
  padding-top: 1em;
  display: inline;
  float: right;
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
  width: 49%;
}
.project2_info h2{
  color: White;
  font-weight: bolder;
  font-style: "Titillium Web", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2.7em;
  padding-top: 1em;
}
.project2_info p{
  color: White;
  font-weight: bolder;
  font-style: "Titillium Web", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.8em;
  padding-top: 1em;
}

.busybus_img {
  display: inline;
  margin-top: 1em;
  float: left;
  letter-spacing: 2em;
  width: 49%;
  height: auto;
  padding: auto;
}
/* WORK SECTION */

.work_container{
  padding-top: 8em;
}

.intro_project {
  display: inline;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  float: left;
  text-align: center;
  width: 100%;
  padding-top: 4em;
  padding-bottom: 2em;
  background: linear-gradient(-45deg, #510056, #8F08B9, #C68400, #FBA905);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.animated_intro {
  background: #330037;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: #FBA905;
  display: inline-block;
  float: center;
  text-align: center;
  width: 30%;
  margin-bottom: 1em;
  background-color: #330037;
}

.animated_intro strong {
  font-style: "Titillium Web", Helvetica, Arial, sans-serif;
  font-size: 2.2em;
  font-weight: bold;
  padding-top: 1em;
}

.animated_intro i {
  font-style: "Titillium Web", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 300;
}

.animated_intro p {
  font-style: "Titillium Web", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  font-weight: 300;
}

.intro_project img {
  padding-top: 1em;
}
.work_container h1 {
  padding-top: 2em;
  font-size: 2em;
  font-style: "Titillium Web", sans-serif;
}

.groups_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  background-color: #330037;
}

.groups {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background:#FBA905;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 15%;
  padding-left: 15%;
}
.groups h3 {
  color: #FBA905;
  font-style: "Titillium Web", Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  margin-top: 1em;
}
.groups li {
  color: #FBA905;
  font-style: "Titillium Web", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
}
.design_roles {
  background-color: #330037;
  width: 25%;
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.deliverables {
  background-color: #330037;
  width: 25%;
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.specifications {
  background-color: #330037;
  width: 25%;
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.specifications span {
  font-size: 1.3em;
  font-weight: 400;
}

hr {
  color: #FBA905;
  background-color: #FBA905;
  border: none;
  width: 30%;
  margin: 0 35% 0 35%;
  height: 5px;
  margin-top: 1em;
  margin-bottom: 1em;

}

/* About Section CSS */

/* Responsive IMG CSS */
.illustration img {
    padding-top: 8em;
    width: 100%;
    display: block;
}

@media (min-width: 600px) {
  main{
    width: 75%;
  }
}
.about body{
  background-color: white;
}
h6{
  display: block;
  color: Black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
}
.about_container{
  background-color: white;
}

.about_row{
display: flex;
flex:1 1 auto;
text-align: left;
padding-top: 3%;
}

.about_column{
  padding: 20px;
  flex: 50%;
  font-weight: 1.4em;
  width: 90%;
  margin: 25px auto;
}

.flex_bio_container{
  align-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 5px;
  color: black;
  font-family: 'Titillium Web', sans-serif;
  font-weight: normal;
  font-size: 1.4em;
  justify-content: center;
  width: 90%;
  margin: 5px auto;
}
/* Responsive layout - when the screen is less than 600px wide, make the two
columns stack on top of each other instead of next to each other */
@media (max-width: 600px){
  .flex_bio_container {
    display: inline-block;
    padding: 3%;
    font-size: 1.6;
  }
}

/* Resume Section Styling */
.headshot_illustration img {
    width: 35%;
    display: block;
    height: auto;
    float: left;
    padding-top: 11em;
    padding-left: 20px;
    position: relative;

}
.resume_container {
  padding-top: 7em;
  background-color: white;
}
.resume_column {
  background-color: #white;
  padding: 20px;
  flex: 50%;
  font-weight: 1.4em;
  width: 90%;
  margin: auto;
}
.flex_resume_container{
  display: flex;
  align-items: flex-start;
}
.flex_resume_container h2{
  color: black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  float: left;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0;
}

.flex_resume_container p {
  color: black;
  display: flex;
  width: 100%;
  font-weight: 500;
  font-size: 1.6em;
  float: left;
  padding-bottom: 1em;
  padding-top: 0;
  padding-left: 0;
}

.flex_resume_container span {
  display: inline-block;
  width: 100%;
  font-weight: 400;
  font-size: 1.1em;
  margin: 0;
}

.flex_resume_container strong {
  color: black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  width: 100%;
  padding-top: .5em;
  padding-bottom: .5em;
  text-decoration: underline;
}

.flex_resume_container i {
  color: black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.3em;
  font-weight: 100;
  width: 100%;
}
}

/* Contact Form Gradient */

/* CONTACT FORM CSS */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

 body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: White;
}
.container_contact {
	color: #5ab9ea;
  padding-top: 5em;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  }

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #5ab9ea;
  margin: 150px 0;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 600;
  color: White;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  color: White;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #fff;
  background: #5AB9EA;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #FA6666;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
  color: #fff;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #FA6666;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  padding-top: 2%;
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #FA6666;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

/* Footer Icon */
.social_media_container{
  text-align: center;
  width: 100%;
}
.contact_quote h3{
  color: #5AB9EA;
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
  width: 100%;
}
.contact_quote span {
  color: #5AB9EA;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  padding-bottom: 1%;
  width: 50%;
}
.social_media {
  background-color: white;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  width: 100%;
}
.copyright {
  color: #5AB9EA;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  padding-top: 4%;
  text-align: center;
  width: 100%;
}

/* MEDIA QUERY THAT EFFECTS OVERLAY DESC */
@media screen and (max-width: 865px) {
	.overlay-desc h1 {
    font-size: 1.48em;
    padding-top: 10em;
    text-shadow: none;
  }

@media screen and (max-width: 865px) {
  .overlay-desc h2{
    font-size: .8em;
    font-weight: bold;
    padding-top: 20em;
    text-shadow: none;
  }
}
